h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#botao-menu {
  background-color: #FFDA66;
  border: none;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -ms-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
  width: 30vw;
  height: 15vw;
  right: 12vw;
  align-self: flex-end;
  position: fixed;
  top: 0px;
  z-index: 5;
  cursor: pointer; }

#seta-menu {
  width: 30%;
  height: 40%;
  z-index: 5; }

@media (min-width: 320px) and (max-width: 720px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse; }

  ul {
    display: none;
    list-style-type: none; }

  #logo {
    width: 60vw;
    height: 96px;
    padding: 10vh 0vh 7vh 0vh;
    flex: 1;
    flex-shrink: 0;
    align-self: center; } }
h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#botao-proximo, #botao-anterior {
  height: 10vw;
  width: 8vw;
  border: none;
  background: transparent;
  cursor: pointer; }

#botao-anterior {
  margin-left: 5%; }

#botao-proximo {
  margin-right: 5%;
  float: right; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#oq-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 15vh; }

#cerebro-img {
  height: 35vw; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#cs-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 15vh; }

#texto-cs h1 {
  margin-top: 8vh;
  margin-bottom: 8vh; }

#mobile-img {
  height: 70vw; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#progresso-content h1 {
  margin: 10vh 0vw 15vw 0vw;
  display: inline block;
  text-align: center; }
#progresso-content h3 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

#lado-a-lado-progresso {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }

#dash {
  margin-top: 20vw;
  position: absolute;
  width: 100%; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

.acess-text {
  display: none; }

.amarelo {
  color: #FFDA66; }

#chamada-blog {
  text-align: center;
  margin-bottom: 20vh;
  margin-top: 20vh; }
  #chamada-blog h4 {
    font-weight: 600; }

#link-blog {
  align-self: center;
  font-weight: 400; }

#blog-txt {
  text-decoration: none;
  background-color: #f7f7f7;
  border-radius: 30vw;
  color: #528EBC;
  width: 80%;
  padding: 2% 25% 2% 25%;
  font-weight: 700;
  font-size: 10vw;
  margin-top: 10%; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#cel-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vw;
  flex-direction: column;
  margin-bottom: 15vh; }

#cel-img1, #cel-img2, #cel-img3, #circle-cel {
  position: absolute;
  align-self: center;
  height: 50vw; }

#cel-img1 {
  margin-left: 3vw;
  margin-top: 3vw; }

#cel-img2 {
  opacity: 0.5;
  filter: alpha(opacity=50); }

#cel-img3 {
  opacity: 0.3;
  filter: alpha(opacity=30);
  filter: blur(2px);
  margin-left: -3vw;
  margin-top: -3vw; }

#circle-cel {
  width: 15vw;
  fill: #f7f7f7;
  filter: blur(30px);
  opacity: 0.7;
  filter: alpha(opacity=70); }

#etapa1 {
  text-align: center; }
  #etapa1 h3 {
    margin: 5vh 0vw 3vh 0vw; }

#progress-bar-um {
  height: 10vh;
  width: auto; }

#maior-um, #menor-um {
  stroke: #f7f7f7;
  stroke-width: 2vh;
  stroke-linecap: round;
  stroke-linejoin: round; }

#maior-um {
  opacity: 0.2;
  filter: alpha(opacity=20); }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#papel-space {
  height: 40vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

#papel-img, #circle-cel {
  position: absolute;
  align-self: center;
  height: 50vw; }

#circle-papel {
  width: 20vw;
  fill: #f7f7f7;
  filter: blur(50px);
  opacity: 0.3;
  filter: alpha(opacity=30); }

#etapa2 {
  text-align: center;
  display: none; }
  #etapa2 h3 {
    margin: 5vh 0vw 3vh 0vw; }

#progress-bar-dois {
  height: 10vh;
  width: auto; }

#maior-dois, #menor-dois {
  stroke: #f7f7f7;
  stroke-width: 2vh;
  stroke-linecap: round;
  stroke-linejoin: round; }

#maior-dois {
  opacity: 0.2;
  filter: alpha(opacity=20); }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#pc-space {
  height: 40vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center; }

#pc-img, #circle-cel {
  height: 50vw;
  position: absolute;
  align-self: center; }

#circle-pc {
  width: 15vw;
  fill: #f7f7f7;
  filter: blur(50px);
  opacity: 0.3;
  filter: alpha(opacity=30); }

#etapa3 {
  text-align: center;
  display: none; }
  #etapa3 h3 {
    margin: 5vh 0vw 3vh 0vw; }

#progress-bar-tres {
  height: 10vh;
  width: auto; }

#maior-tres, #menor-tres {
  stroke: #f7f7f7;
  stroke-width: 2vh;
  stroke-linecap: round;
  stroke-linejoin: round; }

#maior-tres {
  opacity: 0.2;
  filter: alpha(opacity=20); }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#top-div {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center; }

#botao-top {
  background-color: transparent;
  border: solid 0.8vw;
  border-color: #f7f7f7;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  width: 27vw;
  height: 27vw; }

#seta-top {
  width: 30%;
  height: 40%;
  transform: rotate(180deg);
  padding: 10% 35% 28% 15%; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#chamada-contato {
  width: auto;
  margin: 10vh 0vw 15vh 0vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row; }
  #chamada-contato div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 4vw 0vw 0vw 5vw; }
  #chamada-contato h5 {
    font-weight: 600;
    margin: 0px;
    font-size: 5vw; }
  #chamada-contato a {
    font-weight: 700;
    text-decoration: none;
    font-size: 8vw;
    color: #FFDA66;
    flex-wrap: no-wrap;
    margin-top: 2vw; }

#bixinho-img {
  height: 35vw;
  margin-left: -15vw; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

#fb-div {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40vw; }

#botao-fb {
  background-color: transparent;
  border: none;
  border-color: #f7f7f7;
  width: 27vw;
  height: 27vw;
  cursor: pointer; }

h1 {
  font-size: 12vw;
  font-weight: 700; }

h2 {
  font-size: 10vw; }

h3 {
  font-size: 9vw; }

h4 {
  font-size: 7vw; }

p {
  font-size: 6vw;
  font-weight: 400;
  line-height: 9vw; }

.font-open-sans {
  font-family: Open-Sans, sans-serif;
  color: #eeeeee; }

.amarelo {
  color: #FFDA66; }

#copy-footer {
  text-align: center;
  color: #f7f7f7; }
  #copy-footer h5 {
    margin: 0%; }

#5ights strong {
  font-family: Fanheiti, Serif;
  font-weight: light; }

body {
  width: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #CB829F;
  background-image: -webkit-gradient(linear, -30deg, from(#4F9EC6), to(#CB829F));
  background-image: -webkit-linear-gradient(-30deg, #4F9EC6, #CB829F);
  background-image: -moz-linear-gradient(-30deg, #4F9EC6, #CB829F);
  background-image: -ms-linear-gradient(-30deg, #4F9EC6, #CB829F);
  background-image: -o-linear-gradient(-30deg, #4F9EC6, #CB829F);
  background-image: linear-gradient(-30deg, #4F9EC6, #CB829F);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#4F9EC6', EndColorStr='#CB829F'); }
