@import ../molecules/bprogresso

#oq-content
    +flex
    flex-direction: column-reverse
    text-align: center
    margin-bottom: 15vh

#cerebro-img
    height: 35vh

#cs-content
    +flex
    flex-direction: column-reverse
    text-align: center
    margin-top: 10vh
    margin-bottom: 15vh

#texto-cs
    h1
        margin-top: 8vh
        margin-bottom: 8vh

#mobile-img
    height: 60vh

#progresso-content
    text-align: center

h3
    text-transform: uppercase

#lado-a-lado-progresso
    +flex
    flex-direction: column

#dash
    +flex
    flex-direction: row

#cel-img1, #cel-img2, #cel-img3
    height: 60vw

#cel-space
    width: auto
    height: 70vh

#cel-img1
    position: relative
    z-index: 3
    left: 20%
    top: 15vh

#cel-img2
    position: relative
    +opacity(0.5)
    z-index: 2   
    left: -22%
    top: 10vh

#cel-img3
    position: relative
    +opacity(0.3) 
    filter: blur(2px) 
    z-index: 1
    left: -10%
    top: -42vh