@import ../atoms/padroes

#botao-menu
    background-color: $amarelo
    border: none
    +border-radius(0px 0px 15px 15px)
    width: 30vw
    height: 10vh
    right: 19vw 
    align-self: flex-end
    position: fixed
    top: 0px


#botao-menu:visited

#seta-menu
    width: 30%
    height: 40%